@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root{
    --background-header:  #031c2a;
    --font: 'Quicksand', sans-serif;
   --background-eslogan:  #020c11b4; /* radial-gradient( rgba(255, 255, 255, .4) , #0c1318 ); */
    --background-qhacemos: #ffffff;
    --font-white: #ffffff;
    --font-black: #000000;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./img/fondotubos1.jpg); 
    background-repeat: no-repeat;
    font-family: var(--font);
    background-attachment: fixed;
}
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-header);
    padding: 5px;
}
.header .logo img{
    width: 120px;
}
.header .btn-menu{
    padding: 10px;
}
.header .btn-menu .hamburger-menu{
    font-size: 23px;
    color: white;
    padding-top: 7px;
}
.check{
    display: none;
}
.header nav li{
    list-style: none;
    padding: 3px;
}
.header nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header label {
    display: block;
}
.header .menu {
    position: absolute;
    background-color: var(--background-header);
    width: 100%;
    /* margin-left: 48.5%; */
    margin-top: 58.5px;
    transition: all 1s;
    text-align: end;
    display: none;
}
.header .menu ul {
    flex-direction: column;
}
.header .menu ul li {
    border-top: .5px solid rgb(114, 112, 112);
    padding: 0 10px;
}
#btn-menu:checked~.menu {
    display: block;
}
/* IMÃGEN PRINCIPAL */
.principal-txt .title{
    text-align: center;
}
.eslogan{
    padding-top: 150px;
    width: 100%;
    height: 258px;
    background: var(--background-eslogan);
    text-align: center;
}
.animation-up{
    animation: up 2s ;
}
@keyframes up{
    0%{
        opacity: 0;
        margin-top: 30px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.title-principal{
    font-size: 22px;
    font-weight: 700;
    color: var(--font-white);
}
.title{
    font-size: 17px;
    color: var(--font-white);
}
/* SLIDER */
.slider{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 15s infinite alternate linear;
    width: 400%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
/*  QUIENES SOMOS  */
.quienesSomos{
    text-align: center;
    padding: 10px;
    line-height: 24px;
    background: var(--background-qhacemos);
}
.title-info{
    font-size: 18px;
    margin: 8px;
}
/*      QUE HACEMOS      */
.container-queHacemos{
    background: var(--background-qhacemos)
}
.queHacemos{
    padding:  10px;
    font-size: 20px;
}
.principal-img{
    width: 100%;
    height: 550px;
    background-image: url(img/fotoPrincipal2.1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    text-align: start;
}
.principal-img::before {
    content: '';
    position: absolute; 
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 550px;
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.171);
}
.principal-img img{
    width: 100%;
    height: 550px;
    object-fit: cover;

}
.img-principal{
    /* background-image: url(img/fotoPrincipal2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position:center center; */
    display: flex;
    justify-content: flex-start;
}
.txt-img-principal{
    height: 250px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 100px;
    padding: 20px;
    text-align: center;
}
.txt-img-principal>p{
    margin: 10px 0;
    display: none;
}
.plasticos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 40px;
    text-align: center;
}
.plasticos-card{
    display: grid;
    grid-template-rows: 160px 30px 170px;
    row-gap: 3px;
}

.plasticos-img{  
    width: 150px;
    height: 150px;
}
.plasticos-title{
    font-size: 18px;
    font-weight: 700;
}
.plasticos-descripcion{
    font-size: 15px;
}
.polipropileno{
    margin-top: 20px;
}
.titulos{
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
.txt-que-hacemos{
    font-size: 16px;
}
.txt-que-hacemos li{
    margin-left: 25px;
}
/*       CONTACTO       */
.container-contacto{
    background: var(--background-qhacemos);
    padding: 25px 13px;
}
.titulos{
    font-family: var(--font2);
    text-align: center;
    font-size: 21px !important;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    margin-top:35px;
}
.mapa{
    width: 100%;
    margin-right: 20px;
    height: 375px;
}
h1{
    text-align: center;
    font-family: var(--font2);
}
form{
    display: flex;   
    flex-direction: column;
    align-items: center;
    /* margin-right: 100px;
    margin-top: 50px; */
    width: 220px;
}
form .campos{
    /* background: rgba(255, 255, 255, .6); */
    background: none;
    width: 300px;
    margin: 5px;
    border: none;
    border-bottom: .3px solid rgb(199, 192, 192);
    font-family: var(--font);
    padding-top: 10px;
    transition: .5s;
    margin-left: 80px;
}
form .campos:focus{
    padding: 0;
}
form .campos::placeholder{
    font-size: 16px;
    transition: .5s;
}
form input:focus, textarea:focus{
    outline: none;
    border-bottom: 1px solid rgb(56, 150, 1);
}
form .campos::placeholder .campos:focus{
    color: rgb(56, 150, 1);
}
:focus::-webkit-input-placeholder{
    color: rgb(56, 150, 1);
    font-size: 14px !important;
}

form input{
    height: 23px;
}
form textarea{
    height: 50px;
    max-height: 700px;
    max-width: 350px;
}
form .button{
    border: none;
    background: rgba(255, 255, 255, .6);
    border: 1px solid  rgb(136, 136, 136);
    padding: 0 35px;
    height: 27px;
    border-radius: 6px;
    margin-top: 10px;
    font-family: var(--font);
    margin-left: 90px;
}
